/DddSuper.Repository/obj/Debug/netcoreapp2.2
/DddSuper.Aplication/bin/Debug/netcoreapp2.2
/DddSuper.Controller/bin/Debug/netcoreapp2.2
/DddSuper.Domain/bin/Debug/netcoreapp2.2
/DddSuper.Controller/obj/Debug/netcoreapp2.2
/DddSuper.Domain/obj/Debug/netcoreapp2.2
/DddSuper.Repository/bin/Debug/netcoreapp2.2
/DddSuper.Aplication/obj/Debug/netcoreapp2.2
/DddSuper.Test/obj/Debug/netcoreapp2.2
/DddSuper.Test/bin/
/DddSuper.Test/bin/Debug/
/.vs/DddSuper/v15/Server/sqlite3
/.vs/DddSuper/DesignTimeBuild
/.vs/DddSuper/v15
